body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/*styles for the start page*/
.h1-userList {
text-align: center;
    color: #015dc5;
}

.h1-useDetails {
    width: 90%;
    margin: 20px auto 0 auto;
    padding: 20px;
    text-align: center;
    color: #015dc5;
    border-radius: 5px 5px 0 0;

}

/* Styles for the user list container */
.user-list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Відступи між блоками користувачів */
}

/* Styles for the user block */
.user-block {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px;
    margin-bottom: 20px;
    background-color: #f9f9f0;
    box-shadow: 0 4px 6px rgba(12, 11, 11, 0.3);
}

/*Styles for the "Details" button */
.details-button {
    width: 100px;
    background-color: #4a8ecc;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(12, 11, 11, 0.6);

}

/* Styles for the Details button when you hover over it */
.details-button:hover {
    background-color: #47a0d3;
    box-shadow: 0 4px 6px rgba(12, 11, 11, 0.6);
}

/*_________________   and   ____________________________________*/

/* Стилізація блоку з інфою про користувача */
#userDetails {
    padding: 20px;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    border-radius: 5px;

}

/* Стилізація кнопки "Post of current user" */
#showPostsButton {
    display: block;
    margin: 20px auto;
    width: 90%;
    text-align: center;
    background-color:  #4a8ecc;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

#showPostsButton:hover {
    background-color: #47a0d3;
    box-shadow: 0 4px 6px rgba(12, 11, 11, 0.6);
}

/* Стилізація блоків з короткою інформацією про пости (в ряд по 5) */
.user-post-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(17% - 10px); /* 20% ширини контейнера мінус відступи */
    margin: 20px ;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #eae5d9;
    text-align: center;
    height: 250px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(12, 11, 11, 0.6);
    transition: transform 0.2s ease;
}

.user-post-block:hover {
    transform: translateY(-20px); /* Піднімаємо блок при наведенні на 5px вгору */
}

.user-posts {
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
}


/* Стилізація заголовків постів */
.user-post-block h3 {
    font-size: 18px;
    margin: 0;
}

.details-button_post {
    background-color: #4a8ecc;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(12, 11, 11, 0.6);

}

.details-button_post:hover {
    background-color: #47a0d3;
    box-shadow: 0 4px 6px rgba(12, 11, 11, 0.6);
}
/*_________________   and   ____________________________________*/
/* Стилізація для імені користувача */
.user-data-item {
    margin-bottom: 10px;
}

.user-data-item span {
    font-weight: bold;
color: #1e527e;

}

/* Стилізація для вкладених даних */
.user-nested-list {
    margin-left: 20px;

}

.user-nested-item {
    margin-bottom: 5px;
}
/*_________________   and   ____________________________________*/

/* Стилізація блока з інфою про пост зверху */
.post-comments-wrapper {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly; /* Рівномірний розподіл блоків в ряду */
}

.post-comment {
    width: 22%;
    background-color: #eae5d9;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(12, 11, 11, 0.3);
    height: 250px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    transition: transform 0.2s ease; /* Задаємо плавну анімацію для зміни положення */
}

.post-comment:hover {
    transform: translateY(-20px); /* Піднімаємо блок при наведенні на 5px вгору */
}

#postDetails {
    background-color: #ebf0f1;
    padding: 20px;
    margin-bottom: 20px;
}

/* Стилізація блоків, що характеризують users, posts, comments */
.post-data-item {
    width: 50%;
    text-align: center;
    background-color: #eae5d9;
    padding: 10px;
    margin: 10px auto 10px auto;
    font-weight: bold;
    color: #1e527e;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(12, 11, 11, 0.3);

}

h1 {
    text-align: center;
    color: #015dc5;
}



